.sign {
  border: 7px solid #ffffe0;
  background-color: #000000;
  border-radius: 7px;
  height: 382px;
  text-align: center;
  width: 170px;
}

.lamp {
  border: 2px solid #444444;
  border-radius: 50%;
  height: 110px;
  margin: auto;
  margin-top: 10px;
  padding-top: 1px;
  width: 110px;
}
/*
  Written by Thomas EC. Smith (TECSmith) on September 12th 2022
  For the attention of Martin Bohgard at Devise Stockholm.
*/
